.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--white-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 58px;
    position: fixed;
    bottom: 0;
    left: 0;   /* optional, aligns to the left */
    width: 100%;  /* spans across the viewport */
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}
.footer a {
    text-decoration: none;
    color: inherit;
    padding-top: 3rem;    
    background-position: top center;
    background-repeat: no-repeat;
}
.footer a:nth-child(1) {
    color: var(--btn-color-2);
}
.footer a.consultas {
    background-image: url(../Img/Calendarioicone.svg);
}
.footer a.clientes {
    background-image: url(../Img/clientes\ icone.svg);
}
.footer a.relatorios {
    background-image: url(../Img/relatorios\ icone.svg);
}
.footer .menu {
    background-image: url(../Img/menu\ icone.svg);
}