.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--white-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 58px;
    position: fixed;
    bottom: 0;
    left: 0;   /* optional, aligns to the left */
    width: 100%;  /* spans across the viewport */
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}
.menu-btn,
.appointment {
    text-decoration: none;
    color: inherit;
    padding-top: 3rem;    
    background-position: top center;
    background-repeat: no-repeat;
}

.main-menu .appointment {
    background-image: url(../Img/Calendarioicone.svg);
    color: var(--btn-color-2);
}
.main-menu .clients {
    background-image: url(../Img/clientes\ icone.svg);
}
.main-menu .records {
    background-image: url(../Img/relatorios\ icone.svg);
}
.main-menu .menu {
    background-image: url(../Img/menu\ icone.svg);
}
.patient__info {
    display: none;
}
.appointment-input {
    appearance: none;
    display: none;
}


@media screen and (min-width: 700px) {
    
    .header-profile,
    main {
       padding-left: 110px; 
    }

    main {
        padding-bottom: 0px;
    }

    .main-menu {
        flex-direction: column;
        padding-left: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 100%;
        top: 0;
        left: 0;   /* optional, aligns to the left */
        width: 100px;  /* spans across the viewport */
        font-size: 1.2rem;
    }
    
}

@media screen and (min-width: 1040px) {
    
    .main-menu {
        width: 245px;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 1rem;
        gap: 2rem;
    }

    .main-menu a,
    .appointment {    
        padding: 1rem 0 1rem 3rem;
        background-position: left center;
        font-size: 1.8rem;
    }

    .header-profile,
    main {
       padding-left: 265px;
    }
    .float-btn {
        display: none;
    }
    .appointment.-drop-down {
        display: block;
    }
    .patient__info {
        display: none;
    }
    .appointment-input:checked ~ .patient__info {
        display: block;
    }

    .appointment-input {
        appearance: none;
        display: none;
    }

    .patient__info label {
        display: block;
        padding: 1rem 0;
        color: #898989;
    }
    .patient__info input,
    .patient__info select {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        background-color: var(--white-color);
        width: 238px;
        height: 35px;
        color: #CFCFCF;
        box-sizing: border-box;
    }
    .patient__info input:hover,
    .patient__info select:hover,
    .patient__info input:active,
    .patient__info select:active  {
        border-color: var(--btn-color-2);
    }
   
    .patient-save {
        width: 238px;
        margin-top: 2rem;
    }

    .patient__type-of-appointment option,
    .patient__date,
    .patient__time {
        color: #CFCFCF;
    }
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
         filter: brightness(0) saturate(100%) invert(90%) sepia(1%) saturate(283%)
          hue-rotate(177deg) brightness(93%) contrast(89%);
    }
}

@media screen and (min-width: 1040px)


    